@use "reset";

body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;

    > h1 {
        color: white;
    }
}

.container {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
}

h5, h6 {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: lightskyblue;
    margin-bottom: 1rem;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;
        max-width: min(80ch, 100vw - 1rem);
        margin-inline: auto;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

main > div {
    margin: 0;
    padding: 0;

        list-style: none;
        border: solid 3px red;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: white;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px red;
    background-color: lightgray;
}

select, input, textarea {
    min-width: 50%;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 1rem;

    > * > p > a {
        color: lightblue;
    }
}

.post {
    border: solid 3px red;
    background-color: white;
}

.comment {
    border: solid 3px red;
    margin-left: 2rem;
    background-color: white;
    margin-top: 0.5rem;
}

.postContent {
    margin: 0.5rem;
}